<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
    <meta http-equiv=”Content-Security-Policy” content=”script-src'self' ”>
  <title>WeDoScure</title>
</head>

<body>
<!-- partial:index.partial.html -->
<div align="right"><a href="/admin_login">admin</a></div>
<div align="center">
  <p><img src="static/homepageimage.jpg" width="50%"/></p>
  <h1>WeDoSecure </h1>
  <a href="/product" style="background-color:lightblue;color:#000000;padding:10px;border-radius:5px;">See our pruducts</a>
  <a href="/enrollment" style="background-color:lightblue;color:#000000;padding:10px;border-radius:5px;">Enrollment</a>
  <a href="/login" style="background-color:lightblue;color:#000000;padding:10px;border-radius:5px;">login</a>
</div>
<!-- partial -->

</body>
</html>
