<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WeDoSecure-login</title>
</head>
<body>
<div align="center">
  <h2>Customer Sign in</h2>
    <div align="center" style="border-radius:20px;width:400px;height:120px;background-color:lightblue">
      <form method="POST" action="/login">
        <div style="padding:10px">
          <label class="col-sm-2 control-label">Customer ID:</label>
          <input type="text" name="customer_id"><br>
        </div>
        <div style="padding:10px">
          <label>Password:</label>
          <input type="text" name="password"><br>
        </div>
        <input type="submit" value="submit">
      </form>
    </div>
</div>
</body>
</html>