<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>WeDoSecure-product</title>

</head>
<body>
<!-- partial:index.partial.html -->
<div align="center">
    <h1>WeDoSecure</h1>
</div>

<div align="center">
  <table>
    <tr>
      <td>
        <div style="font-family:verdana;width:400px;padding:20px;border-radius:10px;border:10px;">
          <img src="static/home.jpg" width="300px"/>
          <p>Home Insurance</p>
          <p>Take care of your home! </p>
          <p>You don't need to worry about infrastructure broken and other acident of your home!</p>
        </div>
      </td>
      <td>
        <div style="font-family:verdana;width:400px;padding:20px;border-radius:10px;border:10px;">
          <img src="static/auto.jpg" width="300px"/>
          <p>Auto Insurance</p>
          <p>Take care of your Auto! </p>
          <p>You don't need to worry about auto broken and other acident of your auto!</p>
        </div>
      </td>
    </tr>
  </table>
<!-- partial -->

</body>
</html>
